body {
    background-image: url("../img/blured.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

.header { 
    background-color: rgb(255, 255, 255);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 152px;
    display: flex;
    vertical-align: top;
    border-bottom: 2px solid;
    border-bottom-color: rgb(97, 97, 97);
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 255, 0, 0.3);
}

.container_logo {
    height: 150px;
    width: 300px;
    padding-left: 80px;
}

.logo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.menu {
    flex: 1;
    vertical-align: top;
    padding-top: 2%;
    padding-right: 0px;
    text-align: left;
    font-size: 50px;
    font-family: cursive;
}
.btn {
    margin-right: 1%;
    text-decoration: none;
    border: 5px solid rgb(51, 77, 0);
    border-radius: 15px;
    color: rgb(56, 60, 48);
    font-size: 30px;
}

.btn:hover {
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.8);
}

.btn:active {
    background-color: rgb(211, 250, 205);
}

.titlu {
    border: 2px transparent hsl(0, 0%, 0%);
    background-color:rgba(142, 231, 144, 0.7);
    max-width: 700px;
    padding: 30px;
    box-shadow:  0 0 20px rgb(0, 0, 0);
    position: absolute;
    top: 175px;
    left: 40%;
    border-radius: 15px;
    font-size: 50px;
    font-family: cursive;
    color: rgb(0, 0, 0);
    z-index: 5;
}
 
.citat {
    border: 2px transparent hsl(0, 0%, 0%);
    background-color: rgba(142, 231, 144, 0.7);
    max-width: 80%;
    padding: 30px;
    box-shadow: 0 0 20px rgb(0, 0, 0);
    position: absolute;
    top: 340px;
    left: 10%;
    right: 10%;
    border-radius: 15px;
    font-size: 50px;
    font-family: cursive;
    color: rgb(0, 0, 0);
    z-index: 5;
}

p {
    text-align: right;
}