body {
    background-image: url("../img/blured.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  
  .header {
    background-color: rgb(255, 255, 255);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 152px;
    display: flex;
    vertical-align: top;
    border-bottom: 2px solid;
    border-bottom-color: rgb(97, 97, 97);
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 255, 0, 0.3);
  }
  
  .container_logo {
    height: 150px;
    width: 300px;
    padding-left: 80px;
  }
  
  .logo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
  }
  
  .menu {
    flex: 1;
    vertical-align: top;
    padding-top: 2%;
    padding-right: 0px;
    text-align: left;
    font-size: 50px;
    font-family: cursive;
  }
  
  .btn {
    margin-right: 1%;
    text-decoration: none;
    border: 5px solid rgb(51, 77, 0);
    border-radius: 15px;
    color: rgb(56, 60, 48);
    font-size: 30px;
  }
  
  .btn:hover {
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.8);
  }
  
  .btn:active {
    background-color: rgb(211, 250, 205);
  }
  
  .titlu {
    border: 2px transparent hsl(0, 0%, 0%);
    background-color: rgba(238, 183, 183, 0.7);
    max-width: 700px;
    margin: 50px auto;
    padding: 30px;
    box-shadow: 0 0 20px rgb(205, 17, 0);
    position: absolute;
    top: 152px;
    left: 40%;
    border-radius: 15px;
    font-size: 50px;
    font-family: cursive;
    color: rgb(205, 17, 0);
    z-index: 5;
  }
  .sidenav {
    bottom: 0;
    width: 350px;
    position: fixed;
    z-index: 15;
    top: 154px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    overflow-x: hidden;
    overflow-y: scroll;
    list-style: none;
    padding-bottom: 30px;
  }
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 17px;
    color: #818181;
    display: block;
    bottom: 0px;
  }
  .sidenav a:hover {
    color: #f1f1f1;
  }
  .subtitle {
    font-size: 30px;
    color: rgb(0, 255, 255);
    height: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
  }
  .body-background {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 30px;
    margin-top: 200px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10px;
    height: 3800px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  
  .column {
      flex: 1;
      height: 100%; /* Adjust the height as needed */
      border-right: 2px solid rgb(75, 218, 87);
  }
  
  .column h2 {
      margin-top: 100px;
      margin-left: 40px;
      margin-right: 40px;
      text-align: center;
  }
  
  .button-container {
      display: flex;
      flex-direction: column;
  }
  
  .button-container-first {
      display: flex;
      flex-direction: column;
      margin-top: 45px;
  }
  
  .button-container-first button {
      background-color: rgb(122, 248, 83);
      margin-left: 30px;
      margin-right: 30px;
      margin-top: 40px;
      height: 50px;
      font-family: cursive;
      font-size: 20px;
      cursor: pointer;
      border-radius: 8px;
  }
  
  .button-container-first button:hover {
      background-color: rgb(55, 173, 0);
  }
  
  .button-container button {
      background-color: rgb(122, 248, 83);
      margin-left: 30px;
      margin-right: 30px;
      margin-top: 40px;
      height: 50px;
      font-family: cursive;
      font-size: 20px;
      cursor: pointer;
      border-radius: 8px;
  }
  
  .button-container button:hover {
      background-color: rgb(55, 173, 0);
  }
  
  
  .body-background img {
    padding: 10%;
    padding-bottom: 5%;
    padding-top: 5%;
    width: 94%;
    height: 800px;
  }
  
  #container {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
    }
  .chart-container {
      width: 80%;
      margin: 0 auto;
    }
    
    .chart-wrapper {
      height: 400px;
      margin-top: 40px;
    }
    
    .chart-title {
      font-size: 24px;
      font-weight: bold;
      text-align: center;
      margin-bottom: 20px;
    }

  
  .title {
    text-align: center;
    font-size: 40px;
  }

  #container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
.chart-container {
    width: 80%;
    margin: 0 auto;
  }
  
  .chart-wrapper {
    height: 400px;
    margin-top: 40px;
  }
  
  .chart-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }

  .charts {
      width: 90%;
      height: 90%;
      align-items: center;
  }
  
  .firstChart {
      margin-left: 170px;
      height: 600px;
      margin-top: 30px;
  }

  .secondChart {
      margin-left: 170px;
      margin-top: 40px;
      height: 600px;
  }

  .downloadCSV {
      margin-left: 300px;
      margin-top: 30px;
      background-color: aquamarine;
      height: 40px;
      width: 250px;
      border-radius: 10px;
      font-size: 25px;
      margin-bottom: 50px;
  }

  .downloadChart {
    margin-left: 520px;
    margin-top: 30px;
    background-color: aquamarine;
    height: 40px;
    width: 160px;
    border-radius: 10px;
    font-size: 25px;
    margin-bottom: 50px;
}

.downloadFirstBarChart{
margin-left: 620px;
margin-top: 30px;
background-color: aquamarine;
height: 40px;
width: 250px;
border-radius: 10px;
font-size: 25px;
margin-bottom: 50px;
}


.downloadSecondBarChart{
  margin-left: 620px;
  margin-top: 30px;
  background-color: aquamarine;
  height: 40px;
  width: 250px;
  border-radius: 10px;
  font-size: 25px;
  margin-bottom: 50px;
  }
  

  .statistics-table {
    background-color: rgb(127, 224, 124);
    font-size: 15px;
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
 }
 
 .statistics-table th{
 background-color: rgb(82, 138, 80);
  padding: 10px;
  width: 250px;
  text-align: center;
  border: 1px solid #ddd;
 }
 .statistics-table td {
  background-color: rgb(127, 224, 124);
    padding: 10px;
    width: 250px;
    text-align: center;
    border: 1px solid #ddd;
 }
 
 .statistics-table thead {
    background-color: #f9f9f9;
 }
 
 .statistics-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
 }
  